/* html */

html {
  overflow: hidden;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

#jot {
  color: black;
}

.user-container {
  display: flex;
  align-items: center;
}

.dropdown {
  height: 35px;
}

#new-user {
  color: black;
  font-size: 3rem;
  margin-left: .5rem;
}

/* modal */

.modal-background {
  background-color: white;
  opacity: .70;
}

.modal-content {
  overflow: visible;
  width: 27rem;
}

.box {
  background-color: #f5f5f5;
  padding: 3rem;
}

#add-user {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* column is-one-fifth */

.menu-label {
  font-size: 1rem;

}

#new-note {
  font-size: 1.5rem;
}

.menu-label, .menu-list {
  margin-left: 1rem;
}

#new-note, #delete-note {
  color: #dbdbdb;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.3;
}

#new-note:hover, #delete-note:hover {
  opacity: 1;
}

#list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list-item:hover {
  background: #f5f5f5;
}

#note {
  width: 100%;
}


#delete-note {
  margin-right: .75rem;
}

#sort {
  margin-left: 1.75rem;
}

/* column is-two-thirds */

input[id=title]:focus, textarea[id=body]:focus, #name:focus, #trigger:focus {
  border-color: #dbdbdb;
  box-shadow: none;
}

#add-note {
  display: flex;
  justify-content: flex-end;
}

[contenteditable]:focus {
  outline: none;
}

